@use '../abstracts' as *;

.d-flex {
	display: flex;
}
.d-block {
	display: block;
}

.hidden {
	display: none;
}
.visible {
	visibility: visible;
}

.lang-switch {
	position: relative;
	padding-right: 16px;

	&__btn {
		display: flex;
		align-items: center;
		gap: 4px;
		cursor: pointer;
	}

	&__current {
		font-size: 14px;
		font-weight: 600;
		text-align: right;
	}

	&__arrow {
		transition: all 0.3s ease;
	}

	&__list {
		position: absolute;
		top: 120%;
		left: 0;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #ccc;
		transition: all 0.3s ease;
		z-index: 10;
		opacity: 0;
		pointer-events: none;

		&.open {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__item {
		padding: 5px 10px;
		cursor: pointer;
		transition: background 0.3s ease;

		&:hover {
			background: #eee;
		}
	}
}

.filter-group {
	@include flex(row, center, center, 8px);
	@media (max-width: 991px) {
		flex-direction: column;
		align-items: flex-start;
	}

	label {
		display: block;
		color: #121212;
		@include text-style(13px, 600, normal);
	}
}

.dropdown {
	position: relative;
	display: block;

	.dropdown-toggle {
		@include flex(row, space-between, center, 10px);
		background-color: $bg;
		border: 1px solid #d0d0d0;
		height: 32px;
		border-radius: 4px;
		padding: 0 12px;
		cursor: pointer;
		@include text-style(13px, 400, normal);

		.arrow-icon {
			@include transition;
		}

		&::after {
			display: none;
		}
	}

	.dropdown-menu {
		display: none;
		position: absolute;
		top: 110%;
		left: 0;
		min-width: 100%;
		width: 100%;
		background-color: $bg;
		border: 1px solid #d0d0d0;
		border-radius: 4px;
		z-index: 1000;

		li {
			list-style: none;

			a {
				display: block;
				padding: 8px 12px;
				@include text-style(13px, 400, normal);

				&:hover {
					background-color: #d0d0d0;
				}
			}
		}
	}

	&.open {
		.dropdown-menu {
			display: block;
		}

		.arrow-icon {
			transform: rotateX(180deg);
		}
	}
}

.breadcrumbs-wrap {
	padding: 36px 0;
	background: #fafafa;
	@media (max-width: 991px) {
		padding: 24px 0;
	}
	&.second {
		background: $bg;
	}
}
.breadcrumbs {
	@include flex(row, flex-start, center, 13px);
	margin-bottom: 33px;
	@media (max-width: 991px) {
		margin-bottom: 20px;
	}
	&.second {
		margin-bottom: 0;
	}
	&__item:last-child {
		@include text-style(12px, 400, normal);
	}
	&__item:not(:last-child) {
		position: relative;
		color: #7d7d7d;
		@include text-style(12px, 400, normal);
		text-decoration-line: underline;
		&::before {
			content: '/';
			position: absolute;
			top: 0;
			right: -9px;
			display: block;
		}
	}

	&__title {
		@include text-style(40px, 700, 50px);
		@media (max-width: 991px) {
			@include text-style(24px, 700, 30px);
		}
	}
}
