@use '../abstracts' as *;

.actions {
	padding: 120px 0;
	background: $lightGrey;
	@media (max-width: 991px) {
		padding: 60px 0;
	}
	&__title {
		@include text-style(40px, 700, 50px, center);
		margin-bottom: 50px;
		@media (max-width: 991px) {
			@include text-style(24px, 700, 30px, center);
			margin-bottom: 30px;
		}
	}

	&__cards {
		@include flex(row, center, center, 30px);
		flex-wrap: wrap;
		@media (max-width: 991px) {
			gap: 20px;
		}
	}

	&__card-large {
		position: relative;
		@include box(365px, 673px, 15px);
		object-fit: cover;
		overflow: hidden;
		@media (max-width: 767px) {
			width: 100%;
		}
		img {
			position: absolute;
			@include box(100%);
			object-fit: cover;
		}
		.actions__card-info {
			padding: 36px 52px 0 20px;
		}
		h4 {
			position: relative;
			color: $bg;
			@include text-style(40px, 700, 40px);
		}
		p {
			position: relative;
			color: $bg;
			@include text-style(16px, 500, 30px);
		}
	}

	&__cards-right {
		@include flex(column, center, center, 30px);
		@media (max-width: 991px) {
			gap: 20px;
		}
	}

	&__cards-top {
		@include flex(row, center, center, 30px);
		@media (max-width: 991px) {
			flex-wrap: wrap;
			gap: 20px;
		}
	}

	&__card-medium {
		position: relative;
		@include box(480px, 322px, 15px);
		object-fit: cover;
		overflow: hidden;
		@media (max-width: 767px) {
			width: 100%;
		}
		img {
			position: absolute;
			@include box(100%);
		}
		.actions__card-info {
			padding: 36px 224px 0 20px;
			@media (max-width: 768px) {
				padding: 36px 100px 0 20px;
			}
		}
		h4 {
			position: relative;
			color: $bg;
			@include text-style(40px, 700, 40px);
		}
		p {
			position: relative;
			color: $bg;
			@include text-style(16px, 500, 30px);
		}
	}

	&__card-small {
		position: relative;
		@include box(292px, 322px, 15px);
		object-fit: cover;
		overflow: hidden;
		@media (max-width: 767px) {
			width: 100%;
		}
		img {
			position: absolute;
			@include box(100%);
		}
		.actions__card-info {
			padding: 36px 52px 0 20px;
		}
		h4 {
			position: relative;
			color: $bg;
			@include text-style(40px, 700, 40px);
		}
		p {
			position: relative;
			color: $bg;
			@include text-style(16px, 500, 30px);
		}
	}

	&__cards-bottom {
		@include flex(row, center, center, 30px);
		@media (max-width: 991px) {
			flex-wrap: wrap;
			gap: 20px;
			width: 100%;
		}
	}

	&__btn {
		margin-top: 50px;
	}
}
.actions-page {
	padding-top: 20px;
	background-color: $bg;
}
