@use '../abstracts' as *;

.articles {
	padding: 120px 0;
	@media (max-width: 991px) {
		padding: 60px 0;
	}
	&__title {
		@include text-style(40px, 700, 50px, center);
		margin-bottom: 40px;
		@media (max-width: 991px) {
			@include text-style(24px, 700, 30px, center);
			margin-bottom: 20px;
		}
	}

	&__list {
		margin-bottom: 40px;
		@media (max-width: 991px) {
			margin-bottom: 20px;
			row-gap: 20px;
		}
	}

	&__item-img {
		@include box(100%, 260px, 14px);
		object-fit: cover;
		margin-bottom: 20px;
		@media (max-width: 991px) {
			height: 200px;
		}
	}

	&__item-date {
		color: #535353;
		@include text-style(14px, 300, normal);
		margin-bottom: 12px;
	}

	&__item-title {
		@include text-style(18px, 600, 26px);
		@media (max-width: 991px) {
			@include text-style(16px, 600, 20px);
		}
	}

	&__item-text {
		@include text-style(16px, 300, 24px);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 12px;
		@media (max-width: 991px) {
			@include text-style(14px, 300, 18px);
			margin-bottom: 8px;
		}
	}

	&__item-link {
		@include text-style(14px, 500, normal);
		border-bottom: 1px solid $text;
		@include transition;
		&:hover {
			color: $accent;
			border-color: $accent;
		}
	}

	&__btn {
		margin: auto;
		@include center;
		@include box(281px, 66px, 48px);
		background: $text;
		color: $bg;
		border: 2px solid $text;
		@include text-style(20px, 600, normal, center);
		@include transition;
		&:hover {
			background-color: transparent;
			color: $text;
		}
		@media (max-width: 600px) {
			width: 100%;
			height: 60px;
		}
	}
}
