@use '../abstracts' as *;

.articles {
	padding: 120px 0;
	@media (max-width: 991px) {
		padding: 60px 0;
	}
	.breadcrumbs-wrap {
		margin-bottom: 56px;
		@media (max-width: 991px) {
			margin-bottom: 20px;
		}
	}
	.breadcrumbs__filter {
		margin-top: 32px;
		@include flex(row, flex-start, center, 24px);
		row-gap: 12px;
		flex-wrap: wrap;
		@media (max-width: 991px) {
			margin-top: 20px;
			gap: 12px;
		}
	}
	.breadcrumbs__filter-item {
		@include center;
		@include box(fit-content, 30px, 4px);
		padding: 0 16px;
		border: 1.5px solid #f2f2f2;
		background: $bg;
		color: #686868;
		@include text-style(14px, 400, normal);
		text-decoration-line: underline;
		@media (max-width: 991px) {
			padding: 0 10px;
			height: 24px;
			font-size: 12px;
		}
	}
	&__title {
		@include text-style(40px, 700, 50px, center);
		margin-bottom: 40px;
		@media (max-width: 991px) {
			@include text-style(24px, 700, 30px, center);
			margin-bottom: 20px;
		}
	}

	&__list {
		margin-bottom: 40px;
		row-gap: 50px;
		@media (max-width: 991px) {
			margin-bottom: 20px;
			row-gap: 20px;
		}
	}

	&__item-img {
		@include box(100%, 260px, 14px);
		object-fit: cover;
		margin-bottom: 20px;
		@media (max-width: 991px) {
			height: 200px;
		}
	}

	&__item-date {
		color: #535353;
		@include text-style(14px, 300, normal);
		margin-bottom: 12px;
	}

	&__item-title {
		@include text-style(18px, 600, 26px);
		@media (max-width: 991px) {
			@include text-style(16px, 600, 20px);
		}
	}

	&__item-text {
		@include text-style(16px, 300, 24px);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 12px;
		@media (max-width: 991px) {
			@include text-style(14px, 300, 18px);
			margin-bottom: 8px;
		}
	}

	&__item-link {
		@include text-style(14px, 500, normal);
		border-bottom: 1px solid $text;
		@include transition;
		&:hover {
			color: $accent;
			border-color: $accent;
		}
	}
}
