@use '../abstracts' as *;

.category-wrap {
	padding-bottom: 120px;
	@media (max-width: 991px) {
		padding-bottom: 60px;
	}
}
.breadcrumbs-wrap {
	padding: 36px 0;
	background: $lightGrey;
	@media (max-width: 991px) {
		padding: 24px 0;
	}
}
.breadcrumbs {
	@include flex(row, flex-start, center, 13px);
	margin-bottom: 33px;
	@media (max-width: 991px) {
		margin-bottom: 20px;
	}
	&__item:last-child {
		@include text-style(12px, 400, normal);
	}
	&__item:not(:last-child) {
		position: relative;
		color: #7d7d7d;
		@include text-style(12px, 400, normal);
		text-decoration-line: underline;
		&::before {
			content: '/';
			position: absolute;
			top: 0;
			right: -9px;
			display: block;
		}
	}

	&__title {
		@include text-style(40px, 700, 50px);
		@media (max-width: 991px) {
			@include text-style(24px, 700, 30px);
		}
	}
}

.category {
	&__assortment {
		@include flex(row, flex-start, flex-start, 50px);
		padding: 56px 0;
		@media (max-width: 991px) {
			flex-direction: column;
			padding: 32px 0;
			gap: 20px;
		}
	}

	&__assortment-col {
		@include flex(column, flex-start, flex-start, 14px);
	}

	&__assortment-title {
		@include text-style(16px, 500, normal);
	}

	&__assortment-list {
		@include flex(column, flex-start, flex-start, 12px);
	}

	&__assortment-item {
		@include center;
		color: #696969;
		@include text-style(14px, 500, normal);
		border-bottom: 1px solid #696969;
	}

	&__filter {
		@include flex(row, space-between, center);
		margin-bottom: 50px;
		@media (max-width: 991px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			margin-bottom: 20px;
		}
	}

	&__filter-btn {
		@include flex(row, center, center, 12px);
		@include box(fit-content, 50px, 4px);
		padding: 0 24px;
		background: $text;
		color: $bg;
		@include text-style(16px, 600, normal, center);
		@include transition;
		.icon-chev {
			@include transition;
		}
		&:hover {
			.icon-chev {
				transform: rotateX(180deg);
			}
		}
	}

	&__filter-panel {
		@include flex(row, flex-end, center, 32px);
		@media (max-width: 991px) {
			width: 100%;
			justify-content: space-between;
		}
	}
}

.target {
	position: relative;
	.swiper {
		@include box(100%);
	}
	.swiper-slide {
		padding: 36px 22px 20px 20px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		@include box(100%);
		object-fit: cover;
	}

	&__title {
		position: relative;
		z-index: 2;
		color: $bg;
		@include text-style(40px, 700, 40px);
		margin-bottom: 5px;
	}

	&__text {
		position: relative;
		z-index: 2;
		color: $bg;
		@include text-style(16px, 500, 26px);
	}

	&__nav-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		z-index: 2;
		@include center;
	}

	&__nav-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		z-index: 2;
		@include center;
	}

	&__pagination {
		position: absolute;
		bottom: 20px !important;
		left: 50% !important;
		transform: translateX(-50%);
		z-index: 3;
		@include center;
	}

	.swiper-pagination-bullet {
		background-color: transparent;
		@include box(10px, 10px, 100%);
		border: 1px solid #c3c3c4;
	}

	.swiper-pagination-bullet-active {
		background-color: rgba(195, 195, 196, 0.3);
	}
}
