@use '../abstracts' as *;

.footer {
	padding-top: 120px;
	background: #1a1c1e url(../../img/footer.png) 0 -556px / 100% 159.275% no-repeat;

	&__title {
		color: #fffefe;
		@include text-style(50px, 700, 50px, center);
		margin-bottom: 5px;
	}

	&__text {
		color: $bg;
		@include text-style(18px, 500, 37px, center);
		margin-bottom: 28px;
	}

	&__form {
		@include flex(row, center, center, 12px);
		padding-bottom: 50px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		margin-bottom: 50px;
	}

	&__form-input {
		@include center;
		@include box(380px, 70px, 50px);
		padding: 0 32px;
		color: $bg;
		@include text-style(16px, 400, normal);
		border: 1.5px solid #9c9a9a;
		&::placeholder {
			color: #999798;
			@include text-style(16px, 400, normal);
		}
	}

	&__form-input-btn {
		position: relative;
		width: 516px;
		input {
			@include center;
			@include box(100%, 70px, 50px);
			padding: 0 32px;
			color: $bg;
			@include text-style(16px, 400, normal);
			border: 1.5px solid #9c9a9a;
			&::placeholder {
				color: #999798;
				@include text-style(16px, 400, normal);
			}
		}
		button {
			position: absolute;
			top: 5px;
			right: 5px;
			@include center;
			@include box(281px, 60px, 48px);
			background: $bg;
			border: 2px solid $bg;
			color: $text;
			@include text-style(16px, 600, normal, center);
			@include transition;
			&:hover {
				background-color: transparent;
				color: $bg;
			}
		}
	}

	&__row {
		@include flex(row, space-between, flex-start);
	}

	&__col {
		max-width: 273px;
		h4 {
			color: $bg;
			@include text-style(22px, 600, normal);
			margin-bottom: 31px;
		}
	}

	&__list {
		@include flex(column, flex-start, flex-start, 22px);
	}

	&__list-second {
		@include flex(column, flex-start, flex-start, 22px);
	}

	&__item-second {
		.num {
			color: #fffefe;
			@include text-style(29px, 400, normal);
			span {
				color: #cdcdcd;
				@include text-style(22px, 500, normal);
			}
		}
		.text {
			color: #fffefe;
			@include text-style(14px, 400, normal);
		}
		.list-one {
			@include flex(row, flex-start, center, 5px);
		}
		.text-second {
			color: #cdcdcd;
			@include text-style(16px, 400, 24px);
		}
		.text-link {
			color: $bg;
			@include text-style(14px, 500, normal);
			border-bottom: 1px solid #fff;
		}
		.list-two {
			margin-top: 6px;
			@include flex(row, flex-start, center, 24px);
		}
	}

	&__item {
		color: $bg;
		@include text-style(16px, 400, normal);
	}

	&__descr {
		margin-top: 120px;
		padding: 40px 0;
		background: #141516;
	}

	&__descr-list {
		@include flex(row, center, center, 24px);
		margin-bottom: 13px;
	}

	&__descr-item {
		@include center;
	}

	&__descr-offer {
		display: block;
		margin: auto;
		width: fit-content;
		color: #999798;
		@include text-style(14px, 300, normal, center);
		border-bottom: 1px solid #999798;
		margin-bottom: 13px;
	}

	&__descr-text {
		color: #999798;
		@include text-style(14px, 300, normal, center);
	}
}
