@use '../abstracts' as *;

.hero-wrap {
	position: relative;
	width: 100%;
	height: 760px;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: 1024px) {
	}
	@media (max-width: 991px) {
		height: 600px;
		background-position: bottom;
	}
}
.hero {
	padding-top: 204px;
	max-width: 593px;
	@media (max-width: 991px) {
		padding-top: 200px;
		max-width: 450px;
	}
	&__title {
		color: $bg;
		@include text-style(65px, 700, 75px);
		margin-bottom: 40px;
		@media (max-width: 991px) {
			@include text-style(32px, 700, 40px);
			margin-bottom: 20px;
		}
	}

	&__btn {
		@include center;
		width: 285px;
		height: 70px;
		border-radius: 48px;
		border: 2px solid $bg;
		color: $bg;
		@include text-style(20px, 600, normal, center);
		@include transition;
		&:hover {
			background-color: $bg;
			color: $text;
		}
		@media (max-width: 600px) {
			width: 100%;
			height: 60px;
		}
	}
}
