@use '../abstracts' as *;

.info {
	overflow: hidden;
	padding: 60px 0;
	background: $lightGrey;
	@media (max-width: 991px) {
		padding: 40px 0;
	}

	&__block {
		@include flex(row, space-between, flex-start, 32px);
		margin-bottom: 32px;
		@media (max-width: 991px) {
			flex-direction: column;
			margin-bottom: 24px;
		}
	}

	&__block-video {
		position: relative;
		@include box(598px, 510px, 20px);
		overflow: hidden;
		@media (max-width: 991px) {
			@include box(100%, 510px);
		}
		@media (max-width: 600px) {
			height: 300px;
		}
	}

	&__block-video--iframe {
		position: absolute;
		top: 0;
		left: 0;
		@include box(100%);
		z-index: 1;
	}

	&__block-video--overlay {
		position: absolute;
		top: 0;
		left: 0;
		@include box(100%);
		z-index: 2;
	}

	&__block-video--btn {
		@include сentering;
		z-index: 3;
	}

	&__block-img {
		@include box(598px, 510px, 20px);
		object-fit: cover;
		@media (max-width: 991px) {
			@include box(100%, 510px);
		}
		@media (max-width: 600px) {
			height: 300px;
		}
	}

	&__block-content {
		position: relative;
		width: 50%;
		@media (max-width: 991px) {
			width: 100%;
		}
		p {
			@include text-style(16px, 300, 24px);
			margin-bottom: 40px;
			@media (max-width: 991px) {
				@include text-style(14px, 300, 20px);
				margin-bottom: 20px;
			}
		}
		.overlay {
			position: absolute;
			left: 0;
			bottom: 70px;
			@include box(100%, 591px);
			background: linear-gradient(
				to top,
				#fafafa 9.81%,
				rgba(250, 250, 250, 0) 100%
			);
			@include transition;
			@media (max-width: 991px) {
				height: 200px;
			}
		}
	}

	&__block-content--btn {
		margin-left: 0;
	}

	&__tags {
		@include flex(row, flex-start, flex-start, 24px);
		flex-wrap: wrap;
		row-gap: 12px;
		@media (max-width: 600px) {
			row-gap: 8px;
			gap: 12px;
		}
	}

	&__tag {
		@include center;
		@include box(fit-content, 30px, 4px);
		padding: 0 16px;
		border: 1.5px solid #f2f2f2;
		background: $bg;
		color: #696969;
		@include text-style(14px, 400, normal);
		@media (max-width: 600px) {
			padding: 0 12px;
		}
	}
}
