@use '../abstracts' as *;

.projects {
	padding-bottom: 120px;
	@media (max-width: 991px) {
		padding-bottom: 60px;
	}

	&__title {
		@include text-style(40px, 700, 50px);
		margin-bottom: 40px;
		@media (max-width: 991px) {
			@include text-style(24px, 700, 30px);
			margin-bottom: 20px;
		}
	}

	&__list {
		margin-bottom: 40px;
		row-gap: 50px;
		@media (max-width: 991px) {
			margin-bottom: 20px;
			row-gap: 20px;
		}
	}

	&__item-img {
		@include box(100%, 260px, 14px);
		object-fit: cover;
		margin-bottom: 20px;
		@media (max-width: 991px) {
			height: 200px;
		}
	}

	&__item-date {
		color: #535353;
		@include text-style(14px, 300, normal);
		margin-bottom: 12px;
	}

	&__item-title {
		@include text-style(18px, 600, 26px);
		@media (max-width: 991px) {
			@include text-style(16px, 600, 20px);
		}
	}

	&__item-text {
		@include text-style(16px, 300, 24px);
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 12px;
		@media (max-width: 991px) {
			@include text-style(14px, 300, 18px);
			margin-bottom: 8px;
		}
	}

	&__item-link {
		@include text-style(14px, 500, normal);
		border-bottom: 1px solid $text;
		@include transition;
		&:hover {
			color: $accent;
			border-color: $accent;
		}
	}

	&__pagination {
		margin-top: 50px;
		@include flex(row, center, center, 24px);
		@media (max-width: 991px) {
			margin-top: 20px;
			gap: 8px;
		}
	}

	&__pagination-chevron {
		@include center;
	}

	&__pagination-page {
		@include center;
		@include text-style(16px, 400, normal);
		@include box(42px, 42px, 40px);
		@include transition;
	}

	&__pagination-page:hover {
		color: $bg;
		background: $text;
	}

	&__pagination-page.active {
		color: $bg;
		background: $text;
	}
}
