@use '../abstracts' as *;

.state {
	padding: 120px 0 58px 0;
	@media (max-width: 991px) {
		padding: 60px 0;
	}
	&__block {
		padding: 120px 46px;
		@include box(100%, 572px, 14px);
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: 991px) {
			padding: 60px 24px;
			height: 400px;
			background-position: bottom !important;
		}
	}

	&__title {
		max-width: 400px;
		@include text-style(67px, 700, 67px);
		margin-bottom: 20px;
		@media (max-width: 991px) {
			max-width: 100%;
			@include text-style(48px, 700, 50px);
			margin-bottom: 10px;
		}
	}

	&__text {
		max-width: 400px;
		@include text-style(22px, 600, normal);
		margin-bottom: 60px;
		@media (max-width: 991px) {
			max-width: 100%;
			@include text-style(18px, 600, 20px);
			margin-bottom: 20px;
		}
	}

	&__btn {
		@include center;
		@include box(281px, 64px, 48px);
		border: 2px solid $accent;
		background: $accent;
		color: $bg;
		@include text-style(20px, 600, normal, center);
		@include transition;
		&:hover {
			background-color: transparent;
			color: $accent;
		}
		@media (max-width: 991px) {
			height: 60px;
		}
	}
}
