@use '../abstracts' as *;

.state {
	padding: 120px 0 58px 0;
	@media (max-width: 991px) {
		padding: 60px 0;
	}
	&__block {
		padding: 280px 46px 120px 46px;
		@include box(100%, 572px, 14px);
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: 991px) {
			padding: 100px 24px 60px 24px;
			height: 400px;
			background-position: bottom !important;
		}
	}

	&__title {
		@include text-style(40px, 700, normal, center);
		margin-bottom: 56px;
		@media (max-width: 991px) {
			@include text-style(24px, 700, 30px, center);
			margin-bottom: 20px;
		}
	}

	&__text {
		@include text-style(22px, 600, normal);
		margin-bottom: 60px;
		@media (max-width: 991px) {
			@include text-style(18px, 600, 20px, center);
			margin-bottom: 20px;
		}
	}

	&__btns {
		@include flex(row, flex-start, center, 24px);
		@media (max-width: 991px) {
			@include flex(column, flex-start, center, 16px);
		}
		.btn-outline {
			margin: 0;
		}
	}
}
